.header {
	margin-bottom: 55px;
	position: relative;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__manage {
		max-width: 250px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.header__notification {
			display: none;
		}
	}
	&__action {
		display: flex;
		align-items: center;
		gap: 24px;
		.header__notification {
			display: block;
		}
	}
	&__notification {
		padding: 20px;
		position: relative;
		&_open {
			background: #efefed;
		}
		&_exist {
			&::before {
				content: "";
				width: 5px;
				height: 5px;
				position: absolute;
				left: 20px;
				top: 20px;
				background: #9eca58;
			}
		}
	}

	&__sublogo {
		img {
			max-width: 30px;
		}
		&_pc {
		}
		&_mob {
			display: none;
		}
	}

	&__logo {
		font-weight: 700;
		font-size: 32px;
		line-height: 41px;
		letter-spacing: -0.1em;
		color: #000000;
	}

	&__info {
		font-weight: 400;
		font-size: 20px;
		line-height: 26px;
		color: #000000;
		&_nft {
			font-weight: 700;
			text-decoration-line: underline;
		}
	}
	.button {
		padding: 19px 44px;
		background-color: #9eca58;
		&::after {
			content: "";
		}
	}
	@media (max-width: 1440px) {
		margin: 0 0 30px 0;
	}
	@media (max-width: 1060px) {
		padding: 12px 0 16px 0;
	}
	@media (max-width: 1024px) {
		&__info {
			display: none;
		}
		&__notification {
			padding: 8px 9px;
			&_open {
				background: #efefed;
			}
			&_exist {
				&::before {
					content: "";
					width: 5px;
					height: 5px;
					position: absolute;
					left: 9px;
					top: 8px;
					background: #9eca58;
				}
			}
		}
		padding-top: 68px;
		margin: 0;
		&__inner {
			flex-direction: column;
			gap: 16px;
		}
		&__logo {
			order: 2;
			flex-grow: 1;
			font-size: 24px;
			line-height: 31px;
		}
		&__sublogo {
			order: 1;
			img {
				max-width: 40px;
			}
			&_pc {
				display: none;
			}
			&_mob {
				display: block;
			}
		}
		&__manage {
			max-width: none;
			gap: 8px;
			justify-content: flex-start;
			position: fixed;
			left: 0;
			top: 0;
			background: #ffffff;
			padding: 12px;
			z-index: 5;
			.header__notification {
				order: 3;
				display: block;
			}
		}
		&__burger {
			order: 4;
		}
		&__action {
			width: 100%;
			.header__notification {
				display: none;
			}
		}
		.button {
			width: 100%;
			text-align: center;
			padding: 11px 15px;
			font-size: 14px;
			line-height: 18px;
		}
	}
}
