@import "selects.scss";
@import "posts.scss";
@import "tabs.scss";
@import "wallet.scss";

.market {
	width: 100%;
	height: 100%;
	background: #efefed;
	&__inner {
		height: 100%;
		padding: 24px 10px;
		display: flex;
		flex-direction: column;

	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 38px;
		flex-wrap: wrap;
		gap: 16px;
	}

	&__name {
	}

	&__title {
		font-size: 24px;
		line-height: 31px;
		letter-spacing: -0.1em;
		font-weight: 700;
		color: #000000;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		letter-spacing: -0.1em;
		color: #7a7c7f;
	}

	&__line {
		order: 3;
		background: rgba(#000000, 0.05);
		width: 100%;
		height: 5px;
		flex: 1 0 100%;
	}

	&__body {
		height: 100%;
		padding: 0px 38px 0 38px;
		margin-top: 23px;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}
	&_request {
		.swap-wallet,
		.selects,
		.posts {
			display: none;
		}
	}
	@media (max-width: 1630px) {
		&__inner {
			padding: 24px 0px;
		}
		&__head {
			padding: 0 15px 0 15px;
		}
		&__body {
			padding: 0px 15px 0 15px;
			margin-top: 15px;
		}
		&__line {
			width: calc(100% - 20px);
			margin: 0 auto;
		}
	}
	@media (max-width: 1225px) {
		&__name {
			order: 3;
		}
		&__line {
			order: 2;
		}
		&__tabs {
			order: 1;
		}
	}
	@media (max-width: 1024px) {
		margin-bottom: 20px;
		.swap-wallet {
			display: none;
		}
	}
	@media (max-width: 570px) {
		&__inner {
			padding: 16px 0;
		}
	}
	@media (max-width: 430px) {
		&__body {
			padding: 0;
			margin-top: 15px;
		}
		&__head {
			margin-bottom: 10px;
		}
	}
}
