.swap-request {
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.market__line {
		order: unset;
		flex: none;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		&_incoming {
			.summary-wallet__number {
				background-color: #9ECA58;
			}
			.swap-request__item_active {
				background-color: rgba(158, 202, 88, 0.1);
			}
		}
		&_sent {
			.summary-wallet__number {
				background-color: #FF8ED9;
			}
			.swap-request__item_active {
				background-color: rgba(255, 142, 217, 0.1);
			}

		}
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		color: #7a7c7f;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
}
.summary-wallet {
	&__number {
	}

	&__destination {
	}

	&__token {
	}
}
.request-checker {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 8px;
	&__check {
		font-size: 14px;
		line-height: 18px;
		color: #000000;
	}

	&__arrow {
		width: 15px;
		height: 15px;
	}
}
