@import "summary_wallet.scss";
@import "summary_changers.scss";

.summary {
	max-width: 280px;
	width: 100%;
	background: #efefed;
	padding: 24px;
	&_wallet {
		.swap-wallet {
			display: none;
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 52px;
	}

	&__hidder {
		display: none;
		width: 15px;
		height: 9px;
		background: url("../img/icons/arrow-down.svg") center / contain no-repeat;
		cursor: pointer;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 31px;
		letter-spacing: -0.1em;
		color: #000000;
	}

	&__modify {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #7a7c7f;
		cursor: pointer;
	}
	&__content {
		flex-grow: 1;
		margin-bottom: 20px;
		overflow-y: auto;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 16px;
		&_before {
		}
	}

	&__item {
	}
	&__buttons {
	}

	&__button {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #000000;
		padding: 11px 14px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&_green {
			background-color: #9eca58;
		}
		&_purple {
			background-color: #bb94de;
		}
		&_rose {
			background-color: #ff8ed9;
		}
		&_cancel {
			color: #7a7c7f;
		}

		&::after {
			content: "";
		}
	}
	.button__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
	&__subhead {
		margin-bottom: 32px;
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: #000000;
			span {
				font-weight: 700;
			}
		}
	}
	&__separator {
		max-width: 232px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		padding: 35px 0;
		display: none;
		&::before,
		&::after {
			content: "";
			width: 92px;
			height: 5px;
			background: rgba(#000000, 0.05);
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
	&_private {
		.summary__head {
			margin-bottom: 52px;
		}
	}
	&_swap {
		.summary__separator {
			display: block;
		}
		.summary__items:last-child {
			display: flex;
		}
		.summary__subhead {
			&_common {
				display: block;
			}
			&_swap {
				display: block;
			}
		}
	}
	&_request {
		.summary__modify,
		.summary-item__delete,
		.summary__subhead,
		.tabs {
			display: none;
		}
		.summary__head {
			align-items: flex-start;
			flex-direction: column;
			margin-bottom: 32px;
		}
		.summary__title {
			margin-bottom: 52px;
			&_request {
				display: none;
			}
		}
	}
	@media (max-width: 1630px) {
		padding: 24px 15px;
		max-width: 250px;
	}

	@media (max-width: 1060px) {
		max-width: 230px;
		padding: 24px 10px;
		&__items {
			&_after {
				padding: 16px 8px;
			}
		}
	}
	@media (max-width: 1024px) {
		position: fixed;
		left: 0;
		bottom: 0;
		max-height: 82.4%;
		max-width: none;
		padding: 24px 34px;
		display: none;
		&_showed {
			display: block;
		}
		&_close {
			.summary__content,
			.summary__modify,
			.summary__buttons,
			.summary__button {
				display: none;
			}
			.summary__hidder {
				transform: rotate(180deg);
			}
		}
		&_wallet {
			.swap-wallet {
				display: block;
				padding: 0;
				text-align: center;
			}
		}
		.summary {
			&__head {
				gap: 8px;
				margin-bottom: 0;
			}
		}
		&_request {
			max-height: none;
			height: 100%;
			display: block;
			padding-top: 89px;
			.summary__title {
				display: none;
				&_request {
					display: block;
					margin-bottom: 0;
				}
			}
			.summary__hidder {
				display: none;
			}
			.summary-wallet {
				flex-direction: row;
				align-items: center;
				&__number {
					display: flex;
				}
			}
			.summary__head {
				gap: 24px;
			}
			.tabs {
				display: flex;
			}
		}
		&::before {
			content: "";
			width: 100%;
			position: absolute;
			height: 5px;
			left: 0;
			top: 0;
			background: rgba(#000000, 0.05);
		}
		&__subhead {
			display: none;
		}
		&__hidder {
			display: block;
		}
		&__inner {
		}
		&__content {
			padding: 21px 0 15px 0;
			overflow-y: auto;
			max-height: 63vh;
		}

		&__modify {
			margin-left: 16px;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}

	@media (max-width: 470px) {
		padding: 24px 16px;
		&_request {
			padding: 89px 16px 24px 16px;
		}
		&__separator {
			padding: 24px 0;
		}
		&__modify {
			margin-left: 0px;
		}
	}
	@media (max-width: 400px) {
		&__title {
			font-size: 18px;
			line-height: 23px;
		}
	}
}
.summary-item {
	display: flex;
	align-items: center;
	gap: 16px;
	&__image {
		max-width: 64px;
		img {
			max-width: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__content {
		flex-grow: 1;
	}

	&__title {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: #7a7c7f;
		margin-bottom: 4px;
	}

	&__serial {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #000000;
	}

	&__delete {
		width: 12px;
		height: 3px;
		background: #000000;
		cursor: pointer;
	}
	@media (max-width: 400px) {
		&__image {
			max-width: 40px;
		}
		&__serial {
			font-size: 12px;
			line-height: 15px;
		}
	}
}
