.tabs {
	display: flex;
	gap: 32px;
	overflow-x: auto;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}
	&__item {
		border: 5px solid transparent;
		padding-bottom: 8px;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #000000;
		white-space: nowrap;
		&_active {
			border-bottom: 5px solid #9eca58;
		}
	}
}
