.button {
	border-style: solid;
	border-width: 5px;
	border-color: #000;
	border-image-slice: 2;
	border-image-width: 1;
	border-image-outset: 0;
	border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
	background-clip: padding-box;
	background-origin: content-box;
	&::after {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	//TODO made inner border by content
	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset -4px -4px #ddd;
	}
	&__text {
		font-family: $fontfamilySilkscreen;
		font-style: normal;
		font-weight: 400;
		// font-size: 20px;
		// line-height: 26px;
	}
}
