.customize-important {
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 31px;
		text-align: center;

		color: #000000;
	}

	&__texts {
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;

		color: #000000;
	}

	&__checker {
	}

	&__input {
	}

	&__button {
	}
}
