@import "../components/customize/choose_slider.scss";
@import "../components/customize/downloader.scss";
@import "../components/customize/mints.scss";
@import "../components/customize/navigation.scss";
@import "../components/customize/preview.scss";
@import "../components/customize/switchers.scss";
@import "../components/customize/welcome.scss";
@import "./components/customize/connect_wallet.scss";
@import "./components/customize/head.scss";
@import "./components/customize/important.scss";
@import "./components/customize/doodles.scss";
@import "./components/customize/progressbar.scss";
@import "./components/customize/avatars.scss";
@import "./components/customize/description.scss";

.customize {
	border-style: solid;
	border-width: 5px;
	border-color: #000;
	border-image-slice: 2;
	border-image-width: 1;
	border-image-outset: 0;
	border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
	background-clip: padding-box;
	background-origin: content-box;
	position: relative;
	padding-bottom: 31px;
	margin-bottom: 66px;
	&-miniatures {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 24px;
		max-width: 489px;
		margin-bottom: 48px;
		&__item {
		}
	}
	&-gallery {
		display: flex;
		padding: 9px 32px 0 32px;
		&__line {
			width: 5px;
			height: auto;
			background: rgba(#000000, 0.1);
			margin: 0 32px 0 28px;
		}
	}

	&-traits {
		flex: 1 1 50%;
		&__title {
			font-weight: 700;
			font-size: 14px;
			line-height: 18px;
			color: rgba(#000000, 0.3);
			margin-bottom: 24px;
		}
	}

	&__next {
		position: absolute;
		right: 32px;
		bottom: 32px;
		background-color: #ff8ed9;
		padding: 11px 36px;
	}
	.button {
		&__text {
			font-size: 14px;
			line-height: 18px;
		}
	}
}
