.swap main {
	.swap__inner {
		display: flex;
		gap: 5px;
		position: relative;
		border-style: solid;
		border-width: 5px;
		border-color: #000;
		padding: 0.25rem;
		border-image-outset: 0;
		border-image-width: 2;
		border-image-slice: 12;
	}
}
