.main {
	&__inner {
	}

	&__customize {
		margin-top: 66px;
	}
}
.customize {
	border-style: solid;
	border-width: 5px;
	border-color: #000;
	border-image-slice: 2;
	border-image-width: 1;
	border-image-outset: 0;
	border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
	background-clip: padding-box;
	background-origin: content-box;
	position: relative;
	padding-bottom: 31px;
}
.customize-welcome {
	max-width: 640px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
	text-align: center;
	padding-top: 83px;
	padding-bottom: 124px;
	&__text {
		font-weight: 400;
		font-size: 24px;
		line-height: 31px;
		text-align: center;
		color: #000000;
	}
}

.customize-switchers {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
	&__item {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		&_prev {
		}
		&_next {
		}
		img {
			width: 12px;
			height: 21px;
		}
	}
}
