@import "./config/nullable.scss";
@import "./config/config.scss";
@import "./components/burger.scss";
@import "./components/button.scss";
@import "./components/frame.scss";
@import "./components/ham_menu.scss";
@import "./pages/swap.scss";
@import "./pages/main.scss";
@import "./pages/customize.scss";

.wrapper {
	width: 100%;
	min-height: 100vh;
}

.bold {
	font-weight: 700;
}
.underline {
	text-decoration: underline;
}

.border-square {
	border-image-source: url("@img/icons/border-header.svg");
}

.border-rectangle {
	border-image-source: url("@img/icons/square.svg");
}

.posts__item_before,
.posts__item_after {
	.posts__image.border-rectangle {
		border-image-source: url("@img/icons/square-opacity.svg");
	}
}
